@font-face {
  font-family: 'Edensor';
  src: url('/fonts/Edensor.woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Analogue';
  src: url('/fonts/Analogue.woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Strawberrycupcakes';
  src: url('/fonts/StrawberryCupcakes.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brittany Signature';
  src: url('/fonts/BrittanySignature.ttf');
  font-weight: normal;
  font-style: normal;
}
